<style type="text/css">
	h2{font-weight: 300; letter-spacing: -1px}
	a{text-decoration: none !important; color: #666 !important;}
	

	@media (max-width: 767px){
		.profile{
			display: none !important
		}
		.a-logout{
			display: block !important
		}
	}

	.navbar-top {background: #FFF; border-bottom: 1px solid #e2e2e2;}
	.navbar-top .nav-item {font-weight: 700; color: #004674 !important }
	.navbar-top .nav-item-active{background: #004674; color: #e2e2e2 !important}
	.a-logout{display: none}
	.title{border-bottom: 1px solid #e2e2e2; background-color: #F6F6F6;}
	.title-focus{color:#004674; font-weight: bold}
	section{border: 1px solid #e2e2e2;}
	.avatar{width: 60px; height: 60px; background: #6c63ff; border-radius: 100%}
	.col-item{border: 1px solid #e2e2e2; background-color: #F6F6F6}
	.col-item .item-y img{width: 20% !important}
	.col-item .item-y .col-title{color: #666 !important}
	.col-item .col-title{color:#6c63ff; font-weight: 700}
	.img-back{ width: 40%; position: absolute; right: 20px; bottom: -30px; }

</style>

<nav class="navbar-top navbar navbar-expand-md navbar-light py-3">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartop" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbartop">
		<div class="navbar-nav">
			<a class="nav-item nav-link px-4 nav-item-active" href="#">Início</a>
			<a class="nav-item nav-link px-4" href="#">Suporte</a>
			<a class="nav-item nav-link px-4" href="#">Documentação</a>
			<a class="nav-item nav-link px-4 a-logout" href="#">Sair</a>
		</div>
	</div>
</nav>
<div class="container-fluid p-md-5 mb-5 title">
	<div class="container">
		<div class="row">
			<div class="col-md-8 py-3 px-0">
				<h2><span class="title-focus">Painel</span> de controle</h2>
			</div>
			<div class="col-md-4 d-flex justify-content-end pt-2 profile">
				<div class="p-2">
					<h5 class="m-0">{{user.username}}</h5>
					<a  class="float-right" href="/auth/logout">sair</a>
				</div>
				<div class="avatar"></div>
			</div>
		</div>
	</div>
	
</div>
<section class="container p-md-5 py-5 mb-4">
	<p>GERENCIAMENTO</p>
	<div class="row">
		<div class="col-md-6 mb-2">
			<div class="col-item p-4">
				<a href="/admin/post" class="p-0 d-flex item-y">
					<img src="/img/publishing.svg">
					<div class="pl-3">
						<p class="col-title m-0">POSTAGENS</p>
						<p>Acompanhar as postagens do seu site ou criar novas</p>	
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6 mb-2">
			<div class="col-item p-4" >
				<a href="/admin/messages" class="p-0 d-flex item-y">
					<img src="/img/promote.svg">
					<div class="px-3">
						<p class="col-title m-0">MENSAGENS</p>
						<p>Mensagens enviadas pelos usuários do seu site</p>	
					</div>
					
				</a>
			</div>
		</div>
	</div>
</section>

<section class="container p-md-5 py-5">
	<p>CONFIGURAÇÕES</p>
	<div class="row">
		<div class="col-md-6 mb-5">
			<a href="#" class="d-block col-item p-4 h-100">
				<p class="col-title">PERFIL</p>
				<p style="z-index: 999">Aqui você tem acesso a seu histórico de pagamentos efetuados e pendências</p>
				<p>Acessar</p>
				<img class="img-back" src="/img/profile.svg" style="z-index: 1">
			</a>
		</div>
		<div class="col-md-6 mb-5">
			<a href="#" class="d-block col-item p-4 h-100">
				<p class="col-title">SUPORTE</p>
				<p>A velocidade em que seu site é renderizado pelos navegadores está em:</p>
				<p class="m-0" style="font-weight: 700; font-size: 40pt;">0<span style="font-size: 12pt; font-weight: 400"> chamados</span></p>
				<img class="img-back" src="/img/message.svg" alt="">
			</a>
		</div>
		<div class="col-md-6 mb-5">
			<a href="#" class="d-block col-item p-4 h-100">
				<p class="col-title">FINANCEIRO</p>
				<p>Aqui você tem acesso a seu histórico de pagamentos efetuados e pendências</p>
				<p>Acessar</p>
				<img class="img-back" src="/img/cash.svg" alt="">
			</a>
		</div>
		<div class="col-md-6 mb-5">
			<a href="#" class="d-block col-item p-4 h-100">
				<p class="col-title">DESEMPENHO</p>
				<p>A velocidade em que seu site é renderizado pelos navegadores está em:</p>
				<p class="m-0" style="font-weight: 700; font-size: 40pt;">100%</p>
				<img class="img-back" src="/img/performance.svg" alt="">
			</a>
		</div>
	</div>
</section>