<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<title>Painel de controle</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body>
		{{{body}}}
	<script src="/script/jquery-3.3.1.slim.min.js" crossOrigin="anonymous"></script>
    <script src="/script/bootstrap.min.js" crossOrigin="anonymous"></script>
	</body>
</html>	