{{#if message}}
    <p>{{message}}</p>
{{/if}}
<form action="/auth/login" method="post">
    <input type="text" name="username" value="admin" required>
    <input type="password" name="password" value="admin" required>
    <button type="submit">Entrar</button>
</form>
<a href="/auth/signup">Registrar-me</a>