<section class="sign-container">
	<div class="sign">
		<div class="sign-form">
			<h2>Hello!</h2>
			<form action="/auth/login" method="post">
		    	<input type="text" name="username" required>
		    	<input type="password" name="password" required>
		    	<button type="submit">SIGN IN</button>
			</form>
			{{#if message}}
		    	<div class="alert-danger">{{message}}</div>
			{{/if}}
			<a href="/auth/signup">Register now</a>
		</div>
		
	</div>
</section>