* {margin: 0; padding: 0;}
h1,h2,h3,h4,h5 {margin-bottom: 10px;}
a {font-size: 14pt; text-decoration: none;}
form input, button{padding: 10px; font-size: 14pt; margin-bottom: 10px;}
/*SIGN IN/UP FORM*/
.sign-container{display: flex; height: 100vh; justify-content: center}
.sign{display: flex; flex-direction: column; justify-content: center}
.sign-form{}
.sign-form form{display: flex; flex-direction: column}
.alert-danger{background-color: red; color: #F2F2F2; padding: 10px; font-size: 14pt; margin-bottom: 10px}
/*PANEL*/
section{max-width: 1366px; margin: 0 auto;}